@import 'imports/reset';
@import 'imports/var';


body{
  width: 100%;
  background-color: $gris-oscuro;
  main {
    height: 70vh;
    width: 100%;
    display: flex;

    aside {
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-direction: row;
      color: $gris-claro;
      align-items: flex-start;
      ul{
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          padding: 2rem;
          font-size: 1.5rem;
        }
      }

    }

  }
}

svg {
  stroke: $gris-claro;
}
header{
  button {
    display: none;
  }
}

header, footer, nav {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $gris-oscuro;
}

header, nav {
  align-items: center;
  align-content: space-around;
}


header, footer{
  background-color: $gris-claro;
  font-size: 2rem;
}

footer{
  align-items: center;
  font-size: 1rem;
  color: $gris-oscuro;
  ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      padding: 0.5rem;
      &:hover{
        color: $gris-claro;
      }
    }
  }
}


h1{
  font-family: $titulos;
}

nav{

  ul {
    padding: 1rem;
    margin-top: 1rem;
    border-bottom: 10px solid $gris-claro;

    li {
      display: inline-block;
      font-size: 1.5rem;
      margin-right: 2rem;
      margin-left: 2rem;

      a{
        color: $gris-claro;
      }
    }
  }
}

@media (max-width: $portatil) {
  body {
    header{
      justify-content: space-between;
      button{
        display: flex;
      }
    }
    height: auto;
    width: auto;
    nav {
      display: none;
      height: 100%;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        li{
          font-family: $titulos;
          padding: 2.3rem;
          font-size: 2rem;
        }
      }
    }
    main {
      aside {
        ul{
          display: none;
        }
      }
    }
    footer {
      height: auto;
      width: auto;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      ul{
        padding: 1rem;
      }
    }
  }
}


