@import 'imports/reset';
@import 'imports/var';


body{
  width: 100%;
  background-color: $gris-oscuro;
  header{
    button {
      display: none;
    }
    svg:hover{

      transform: skew(10deg);
    }
  }
  nav{

    ul {
      padding: 1rem;
      margin-top: 1rem;
      border-bottom: 10px solid $gris-claro;

      li {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 2rem;
        margin-left: 2rem;
        &:hover{
          transform: scale(1.2);
        }
        a{
          color: $gris-claro;

        }
      }
    }
  }


  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    height: auto;
    width: 100%;

    aside {
      display: flex;

      justify-content: space-around;
      flex-direction: row;
      color: $gris-claro;
      align-items: flex-start;
      ul{
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          padding: 2rem;
          font-size: 1.5rem;
          &:hover{
            transform: scale(1.2);
          }
          button {
            width: 100%;
          }
          a{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:visited {
              text-decoration: none;
              color: $gris-claro;
            }
          }
        }
      }

    }

  }
  footer{
    align-items: center;
    font-size: 1rem;
    color: $gris-oscuro;
    display: flex;
    justify-content: space-around;
    ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      li {
        padding: 0.5rem;

        a:visited {
          text-decoration: none;
          color: $gris-oscuro;
        }


      }
    }
  }
}

svg {
  stroke: $gris-claro;
}


header, footer, nav {
  min-height: 10vh;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $gris-oscuro;
}

header, nav {
  align-items: center;
  align-content: space-between;
}


header, footer{
  background-color: $gris-claro;
  font-size: 2rem;
}

h1{
  font-family: $titulos;
}



@media (max-width: $portatil) {

  body {
    header{
      justify-content: space-around;
      h1 {
        font-size: 1.5rem;
      }
      button{
        display: flex;
      }
    }
    height: auto;
    width: auto;
    nav {
      display: none;
      height: 100%;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        li{
          font-family: $titulos;
          padding: 2.3rem;
          font-size: 2rem;
        }
      }
    }
    main {
      aside {
        ul{
          display: none;

        }

      }
    }
    footer {
      height: auto;
      width: auto;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      ul{
        padding: 1rem;
      }
    }
  }
}


