@import 'imports/var';



main {
    section{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        color: $gris-claro;
        font-size: 1.3rem;
        align-items: center;

        p {
            margin-top: 3rem;
            height: 15vh;
        }
    }

    aside {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        color: $gris-claro;
        align-items: flex-start;
        ul{
            display: flex;
            flex-direction: column;
            li{
                display: flex;
                padding: 2rem;
                font-size: 1.5rem;
            }
        }

    }

}


@media (max-width: $portatil){
    main{
        flex-wrap: wrap;
        display: flex;
        height: auto;
        width: auto;
        section{
            display: flex;

            font-size: 1.3rem;
            p {
                margin-top: 5rem;
                margin-bottom: 2rem;
                height: auto;
            }
            img {
                width: 75%;
            }

        }
        aside {
            ul{
                display: none;
            }
        }

    }

}