@import 'imports/var';



main {
    section{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        color: $gris-claro;
        font-size: 1.3rem;
        align-items: center;
        width: 50%;
        h1{
            align-self: flex-start;
        }
        p {
            margin-top: 3rem;
            height: 15vh;
        }
    }
}


@media (max-width: $portatil){
    main{
        flex-wrap: wrap;
        display: flex;
        height: auto;
        width: auto;
        section{
            display: flex;
            margin-left: 0;
            font-size: 1.3rem;
            p {
                margin-top: 5rem;
                margin-bottom: 2rem;
                height: auto;
            }
            img {
                width: 75%;
            }

        }
        aside {
            ul{
                display: none;
            }
        }
    }

}